@import './base.css';

body {
  margin: 0;
  padding: 0;
  display: block; /* 覆盖掉默认的 display: flex */
}

#app {
  max-width: 100%; /* 取消默认的 1280px 限制 */
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}